
.main-body {
    color: white;
    margin: 0 1vw 0 1vw;
}

.stats {
    font-size: 0.9em;
    margin-top: 2vh;
    color: white;
}

.flex-column-it {
    display: flex;
    flex-direction: column;
}

.tab-it-image-section {
    width: 45vw;
    margin: 5px;
}

.tab-text-it-section-large {
    width: 48vw;
    margin: 5px;
}

.stat-column {
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.stat-column p {
    font-size: 0.7em;
}

.center {
    align-items: center;
    justify-content: center;
}

.center-text {
    text-align: center;
}

/*.MuiExpansionPanel-rounded:first-child {*/
    /*border-bottom: 1px solid red !important;*/
    /*border-top: none !important;*/
/*}*/

/*.MuiExpansionPanel-rounded:last-child {*/
    /*border-bottom: none !important;*/
/*}*/

/*.MuiExpansionPanel-rounded {*/
    /*border-bottom: 1px solid red !important;*/
/*}*/