

.gallery-container {
    display: flex;
    flex-basis: 15%;
    flex-wrap: wrap;
    margin: 0 3%;
}

.gallery-body {
    background-color: white;
}

.gallery-body h1 {
    margin-left: 6%;
}

.gallery-card {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .gallery-body h1 {
        margin-left: 6%;
        font-size: 1.2rem !important;
        padding-top: 1%;
    }
    .gallery-card {
        width: 31%;
        margin: 1% 1%;
    }
}

@media screen and (min-width: 601px) {
    .gallery-body h1 {
        margin-left: 6%;
        padding-top: 3%;
    }
    .gallery-card {
        width: 18%;
        margin: 1% 1%;
    }
}

.show {
    display: block !important;
}

.dontShow {
    display: none !important;
}

.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    padding: 5%;
}

.modal img {
    height: 90vh;
}

.modal button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 5%;
}