
.tab-dates-section {
    width: 100%;
}

.pricing-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pricing-row p {
    flex: 1;
    text-align: center;
    margin: 0 2px;
    white-space: pre-wrap;
}

@media screen and (max-width: 600px) {
    .pricing-row {
        margin-bottom: 1%;
    }
}

@media screen and (min-width: 601px) {
    .pricing-row {
        margin-bottom: 4%;
    }
    .pricing-row > p:first-child {
        font-weight: bold;
    }
    .date-one-button {
        margin-left: 10px;
    }
}

.date-one-button {
    text-decoration: underline;
    padding: 10px 15px;
    cursor: pointer;
}

.available-date {
    background-color: #4a7740;
    color: white;
    text-transform: uppercase;
    padding: 8px 12px;
    height: fit-content;
}

.title-row {
    align-items: flex-end;
    font-weight: bold;
}

.tab-dates-section h5 {
    font-weight: bold !important;
}