
.fa-spin {
    margin: 0 2em;
}

.MuiCard-root {
    padding: 0.5em;
    margin: 1em;
}

.form-card {
    display: flex;
}

form {
    width: 100%;
}

input {
    display: block;
    margin-bottom: 1em;
}

.form-input {
    margin-bottom: 1em;
}